@font-face{
    font-family: MyFont;
    src: url(./assets/ostrich-sans/OstrichSans-Black.otf);
}

*{
    box-sizing: border-box;
}

body{
    font-family: MyFont, Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(0deg, rgb(247, 247, 247) 23.8%, orange);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(59, 57, 57, 0.925);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
}


.img-container{
    position: relative;
    width: 100px;
}

.img-container img{
    width: inherit;
    height: 100px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50%;

    animation: rotate 3s linear infinite;

    animation-play-state: paused;
}

.container.play .img-container img{
    animation-play-state: running;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}


#controles{
   display: flex;
   align-items: center; 
   justify-content: center;
   z-index: 1;
}

.btn {
    background-color: whitesmoke;
    border: 0;
    width: 40px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}


.music-info {
    background-color: rgba(255, 255, 255, 0.363);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    opacity: 0;
    transform: translateY(0%);
    padding: 10px 10px 10px 100px;
    transition: transform 0.3s "ease-in" opacity 0.3s "ease-in";
}

.music-info h4{
    margin: 0;
}

.container.play .music-info{
    opacity: 1;
    transform: translateY(-100%);
}


/* aqui é a barra de progresso da musica */
.progressed-container {
    background:whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 10px;
    height: 6px;
    width: 95%;
}

.progress {
    background-color: rgb(255, 115, 0);
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.s linear;
    position: relative;
}

.progress:after{
content: '';
position: absolute;
right: -6px;
top: -4px;
width: 15px;
height: 15px;
background-color: black;
border-radius: 10px;
}








